{% extends 'pages/profile.html' %}
{% load static %}
{% block title %}Parolni o‘zgartirish{% endblock %}
{% block css %}{% static 'css/accounts/change_password.css' %}{% endblock %}

{% block main %}
      <div class="body">
          <h1 class="black heading">Parolni o'zgartirish</h1>
      <form method="post" class="form inset-shadow curve-border">
          {% csrf_token %}
        <div class="gr">
            <label for="old_password" class="black">Avvalgi parolingizni piriting</label>
            <input
                    id="old_password"
                    name="old_password"
                class="para black curve-border"
                type="password"
                    minlength="8"
                placeholder="Eski parol"
                required />
        </div>
        <div class="gr">
            <label for="new_password1" class="black">Yangi parol kiriting</label>
            <input
                    id="new_password1"
                    name="new_password1"
                class="para black new_password curve-border"
                type="password"
                placeholder="Yangi parol"
                minlength="8"
                required />
        </div>
        <div class="gr">
            <label for="new_password2" class="black">Parolni takrorlang</label>
            <input
                    id="new_password2"
                    name="new_password2"
                class="para black confirm_password curve-border"
                type="password"
                placeholder="Parolni Takrorlang"
                minlength="8"
                required />
        </div>
              {% if form.errors %}
                <ul class="errors">
                    {% for field in form %}
                        {% for error in field.errors %}
                            <li class="error">{{ error }}</li>
                        {% endfor %}
                    {% endfor %}
                    {% for error in form.non_field_errors %}
                        <li class="error">{{ error }}</li>
                    {% endfor %}
                </ul>
            {% endif %}
        <button class="curve-border btn black  " type="submit">Parolni o'zgartirish</button>
        <div class="additional">
            <a href="{% url 'password_reset' %}" class="blue"
                >Parol esdan chiqdimi?</a
            >
        </div>
    </form>
      </div>
{% endblock %}
