{% extends 'base.html' %}
{% load static %}
{% block title %}Parolni tiklash{% endblock %}
{% block css %}{% static '/css/accounts/reset_password.css' %}{% endblock css %}
{% block content %}
    <div style="height: 92lvh; display: flex; justify-content: center; align-items: center; flex-direction: column; gap: 30px;">
        <h1 class="heading">Parolni tiklash</h1>
        <form method="post" class="form curve-border inset-shadow">
        {% csrf_token %}
        <div class="gr" style="flex-direction: column-reverse;">
            <input
                    name="phone"
                    id="id_phone"
                    class="para black phone_input curve-border"
                    type="tel"
                    placeholder="telefon raqam"
                    pattern="\+998\s[0-9]{2}\s[0-9]{3}\s[0-9]{2}-[0-9]{2}"
                    required/>
            <label for="id_phone">Telefon raqam</label>
        </div>

        <button type="submit" class="btn ">SMS yuborish</button>
        {{ form.errors }}
    </form>
    </div>
    <script>
    const phoneInput = document.querySelector(".phone_input")

phoneInput.addEventListener("focus", function () {
    if (!phoneInput.value.startsWith("+998")) {
        phoneInput.value = "+998 ";
    }
});

phoneInput.addEventListener("input", function () {
    let input = phoneInput.value.replace(/\D/g, "");
    if (input.startsWith("998")) {
        input = input.substring(3);
    }

    let formattedNumber = "+998 ";
    if (input.length > 0) {
        formattedNumber += input.substring(0, 2);
    }
    if (input.length > 2) {
        formattedNumber += " " + input.substring(2, 5);
    }
    if (input.length > 5) {
        formattedNumber += " " + input.substring(5, 7);
    }
    if (input.length > 7) {
        formattedNumber += "-" + input.substring(7, 9);
    }

    phoneInput.value = formattedNumber;
});

phoneInput.addEventListener("keydown", function (event) {
    const position = phoneInput.selectionStart;
    if (position < 5 && event.key !== "Backspace") {
        event.preventDefault();
    }
});

phoneInput.addEventListener("blur", function () {
    if (phoneInput.value === "+998 ") {
        phoneInput.value = "";
    }
});
    </script>
{% endblock %}
<script src="/js/auth.js"></script>