{% extends 'pages/profile.html' %}
{% load static %}
{% block title %}Profile | Mijozlar{% endblock title %}
{% block css %}{% static 'css/bookings/clients.css' %}{% endblock css %}
{% block main %}
    <div class="body" style="display: flex; flex-direction: column; gap: 30px;">
        {% if clients %}
          <div class="table">
            <table class="black">
                <tr>
                    <th>#</th>
                    <th>Ism</th>
                    <th>Telefon</th>
                    <th>ID</th>
                    <th>Tarif</th>
                    <th>Barber</th>
                    <th>Sana va Vaqt</th>
                    {% if request.user.is_superuser or request.user.is_staff %}
                        <th>Tugatish</th>
                        <th>O'chirish</th>
                    {% else %}
                        <th>Bekor qilish</th>
                    {% endif %}
                </tr>
                {% if request.user.is_superuser or request.user.is_staff %}
                    <h2 class="heading">Mijozlar ro‘yxati:</h2>
                {% else %}
                    <h2 class="heading">Mening navbatlarim:</h2>
                {% endif %}
                {% for post in clients %}
                    <tr>
                        <td>{{ forloop.counter }}</td>
                        {% if post.familiya == None %}
                            <td>{{ post.ism }}</td>
                        {% else %}
                            <td>{{ post.ism }} {{ post.familiya }}</td>
                        {% endif %}
                        <td>{{ post.telefon }}</td>
                        <td>{{ post.id }}</td>
                        <td>{% if post.level %}{{ post.level.name }}{% else %}Tanlanmagan!{% endif %}</td>
                        <td>{{ post.barber }}</td>
                        <td>{{ post.sana.date }}, {{ post.vaqt.time }}</td>
                        {% if request.user.is_superuser or request.user.is_staff %}
                            {% if request.user == post.barber.user %}
                                <td>
                                    <form method="post" action="{% url 'complete_client' post.id %}">
                                        {% csrf_token %}
                                        <button onclick="return confirm('Mijozni tugatdingizmi?')" type="submit"
                                                class="btn  white">Tugatish
                                        </button>
                                    </form>
                                </td>
                                <td>
                                    <a class="btn bad-bg istisno" href="{% url 'delete' post.pk %}">O'chirish</a>
                                </td>
                            {% else %}
                                <td>Ruxsat yo'q</td>
                                <td>Ruxsat yo'q</td>
                            {% endif %}

                        {% else %}
                            <td>
                                <a class="btn bad-bg istisno" href="{% url 'delete' post.pk %}">Bekor qilish</a>
                            </td>
                        {% endif %}
                    </tr>
                {% endfor %}

            </table>
          </div>
            <a style="width: 100%;" href="{% url 'create' %} "><h1 class="black btn curve-border">+</h1></a>
        {% else %}

            <div class="container">
                {% if request.user.is_superuser or request.user.is_staff %}
                    <h2 class="heading">Hozircha mijozlar mavjud emas!</h2>
                {% else %}
                    <h2 class="heading">Hozircha bandlik mavjud emas!</h2>
                {% endif %}
                <a href="{% url 'create' %} "><h1 style="width: 20%; margin: auto;" class="btn black curve-border">
                    +</h1></a>
            </div>
        {% endif %}
    </div>


    <script>
        function showAlert(clientId) {
            document.getElementById('alert-popup').style.display = 'block';
            document.getElementById('complete-btn').setAttribute('data-client-id', clientId);
        }

        function closeAlert() {
            document.getElementById('alert-popup').style.display = 'none';
        }

    </script>
{% endblock main %}
