{% extends 'pages/profile.html' %}
{% load static %}
{% block title %}Parolni o‘zgartirish{% endblock %}
{% block css %}{% static 'css/accounts/change_password.css' %}{% endblock %}

{% block main %}
      <div class="body">
          <h1 class="black heading">Parolni o'zgartirish</h1>
      <form action="{% url 'login' %}" method="post" class="form inset-shadow curve-border">
          {% csrf_token %}
        <div class="gr">
            <label class="black">Avvalgi parolingizni piriting</label>
            <input
                    name="old_password"
                class="para black curve-border"
                type="password"
                    minlength="8"
                placeholder="Eski parol"
                required />
        </div>
        <div class="gr">
            <label class="black">Yangi parol kiriting</label>
            <input
                    name="password1"
                class="para black new_password curve-border"
                type="password"
                placeholder="Yangi parol"
                minlength="8"
                required />
        </div>
        <div class="gr">
            <label class="black">Parolni takrorlang</label>
            <input
                    name="password2"
                class="para black confirm_password curve-border"
                type="password"
                placeholder="Parolni Takrorlang"
                minlength="8"
                required />
        </div>

        <button class="curve-border btn black  " type="submit">Parolni o'zgartirish</button>
        <div class="additional">
            <a href="{% url 'password_reset' %}" class="blue"
                >Parol esdan chiqdimi?</a
            >
        </div>
    </form>
      </div>
{% endblock %}
