{% extends 'base.html' %}
{% load static %}
{% block title %}Parolni tiklash{% endblock %}
{% block css %}{% static 'css/accounts/reset_password.css' %}{% endblock %}

{% block content %}
    
    
    
    
    
    <h2 class="heading">Yangi parolni o'rnating</h2>
    <form method="POST" class="form">
        {% csrf_token %}
         <div class="gr">
        <label for="password1">Yangi parol</label>
        <input id="password1" type="password" class="para black curve-border" name="new_password1">
         </div>
      <div class="gr">
            <label for="password2">Yangi parol (qayta)</label>
        <input id="password2" type="password" class="para black curve-border" name="new_password2">
      </div>
        <button class="btn curve-border black  " type="submit">Parolni o'zgartirish</button>
    </form>
{% endblock %}
