
{% extends 'base.html' %}
{% load static %}

{% block content %}
        <div style="padding: 100px;" class="container curve-border ">
        <h1 class=" important-text">Parolingizni muvaffaqiyatli o'zgartirdingiz.</h1>
            <p>Yangi parol bilan saytga kirishingiz mumkin.</p>
            
        <a href="{% url 'login' %}" class="btn  white curve-border">Yangi parol bilan kirish</a>
            
        <a href="{% url 'home' %}" class="btn  white curve-border">Asosiy sahifaga qaytish</a>
    </div>

{% endblock  %}